<ol class="date-picker pure-g">
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-07" fast-click ng-class="{active: '2013-10-07'==selectedDate}">
        <span class="day">{{ weekDays[1] }}</span>
        <span class="date">7</span>
    </a></li>
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-08" fast-click ng-class="{active: '2013-10-08'==selectedDate}">
        <span class="day">{{ weekDays[2] }}</span>
        <span class="date">8</span>
    </a></li>
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-09" fast-click ng-class="{active: '2013-10-09'==selectedDate}">
        <span class="day">{{ weekDays[3] }}</span>
        <span class="date">9</span>
    </a></li>
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-10" fast-click ng-class="{active: '2013-10-10'==selectedDate}">
        <span class="day">{{ weekDays[4] }}</span>
        <span class="date">10</span>
    </a></li>
</ol>
