@import 'variables';

#map {
    position: relative;

    .wrapper {
        cursor: move;
        width: 100%;
        overflow: hidden;
        padding-top: 15px;
    }

    img {
        display: block;
        margin: 0 auto;

        @media print {
            margin-top: -2em;
        }
    }

    .floors, .zoom {
        position: absolute;
        bottom: 20px;
        right: 3px;
        z-index: 5;
        -webkit-transform: translateZ(0);

        @media print {
            display: none;
        }

        button {
            opacity: 1;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
            padding: .5em 1em;
        }
    }

    .floors {
        button {
            padding: .5em;
        }
    }

    .zoom {
        left: 3px;
        right: auto;

        button {
            background: $activeColor;
            color: #fff;
        }
    }

    .floors {
        .top-floor {
            background: #06803f;
            color: #fff;
        }

        .ground-floor {
            background: #fecca9;
        }

        .active {
            opacity: 0.8;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
        }
    }

    .hidden {
        display: none;
    }
}

@media print {
    body.section-map {
        #layout {
            max-width: auto;
        }
    }
}
