@import 'variables';

.no-touch {
    #nav a:hover {
        color: #fff;
        transition: all 0.1s ease-in;
        background: lighten($navColor, 20%);
    }
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateZ(0);

    ul {
        max-width: $breakpoint + 38px;
        margin: 0 auto;
        padding: 0;
    }

    li {
        display: inline-block;
        text-align: center;
        width: 23.2%;
    }

    .credits {
        width: 7%;
    }

    a {
        color: $navTextColor;
        text-decoration: none;
        display: block;
        padding: 15px 0;
        background: $navColor;

        &.active {
            background: $activeColor;
            color: $navTextActiveColor;
        }
    }
}

#layout, #menu {
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

#menu {
    margin-right: -150px;
    width: 150px;
    position: fixed;
    top: $navBarHeight - 1px;
    right: 150px;
    bottom: 0;
    z-index: 1000;
    background: lighten($navColor, 5%);
    overflow-y: auto;

    .pure-menu-open {
        background: transparent;
        border: 0;
    }

    .pure-menu a {
        color: $navTextColor;
        padding: 20px 5px 20px 10px;

        @media (max-height: 510px) {
            padding: 15px 5px 15px 10px;
        }

        @media (max-height: 440px) {
            padding: 10px 5px 10px 10px;
        }

        @media (max-height: 370px) {
            padding: 8px 5px 8px 10px;
        }

        @media (max-height: 344px) {
            padding: 4px 5px 4px 10px;
        }

        &.active {
            background: $activeColor;
            color: $navTextActiveColor;
        }
    }

    ul {
        a:hover {
            background: darken($activeColor, 5%);
            color: $navTextActiveColor;
        }

        i {
            margin-right: 5px;
            width: 18px;
            display: inline-block;
            text-align: center;
        }
    }
}

header, #menu {
    display: none;
}

@media (max-width: $breakpoint) {

    #nav {
        display: none;
    }

    #layout {
        position: relative;
        padding-right: 0;

        &.active {
            position: relative;
            right: 150px;

            #menu {
                right: 150px;
                width: 150px;
            }
        }
    }

    #menu {
        right: 0;
        display: block;
    }

    header {
        display: block;
    }
}

// Print settings
@media print {
    header, #nav, #menu {
        display: none;
    }
}
