.no-touch {
    #nav a:hover {
        color: #fff;
        transition: color 0.3s ease-in;
    }
}

#nav {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateZ(0);

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        text-align: center;
    }

    a {
        color: lighten(#999, 10%);
        text-decoration: none;
        display: block;
        padding: 10px 0;
        background: rgb(37, 42, 58);

        &.active {
            background: #265778;
            color: #fff;
        }
    }
}