@import 'variables';

.no-touch {
    #nav a:hover {
        color: #fff;
        transition: color 0.3s ease-in;
    }
}

#nav {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateZ(0);

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        text-align: center;
        width: 29%;

        &.overflow {
            width: 13%;
        }
    }

    a {
        color: $navTextColor;
        text-decoration: none;
        display: block;
        padding: 15px 0;
        background: $navColor;

        &.active {
            background: $activeColor;
            color: $navTextActiveColor;
        }
    }
}

/**
 * Responsive menu thingy
 */
#layout, #menu {
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

#layout {
    padding-right: 150px;
    right: 0;
}

#menu {
    margin-right: -150px;
    width: 150px;
    position: fixed;
    top: $navBarHeight;
    right: 150px;
    bottom: 0;
    z-index: 1000;
    background: lighten($navColor, 5%);
    overflow-y: auto;
    -webkit-overflow-scroll: touch;

    .pure-menu-open {
        background: transparent;
        border: 0;
    }

    .pure-menu a {
        color: $navTextColor;
        padding: 10px 20px 10px 10px;

        &.active {
            background: $activeColor;
            color: $navTextActiveColor;
        }
    }

    ul {
        a:hover {
            background: darken($activeColor, 5%);
            color: $navTextActiveColor;
        }

        i {
            margin-right: 5px;
            width: 18px;
            display: inline-block;
            text-align: center;
        }
    }
}

@media (max-width: 870px) {

    #layout {
        position: relative;
        padding-right: 0;

        &.active {
            position: relative;
            right: 150px;

            #menu {
                right: 150px;
                width: 150px;
            }
        }
    }

    #menu {
        right: 0;
    }

}
