$FontAwesomePath: '../bower_components/font-awesome/font';
@import 'pure';
@import '../bower_components/font-awesome/scss/font-awesome';
@import 'variables';
@import 'loader';
@import 'header';
@import 'nav';
@import 'speakers';
@import 'date-picker';
@import 'schedule';
@import 'map';
@import 'stream';
@import 'credits';

body {
    overflow-y: scroll;
}

body.no-scroll {
    overflow: hidden;
}

#content {
    padding-top: $navBarHeight - 1px;

    @media print {
        padding-top: 0;
    }
}

#layout {
    max-width: $breakpoint;
    margin: 0 auto;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);

    @media print {
        box-shadow: none;
    }
}

#content > .error {
    padding: 2em;
    color: red;
}

@media (max-width: $breakpoint) {
    body {
        overflow-y: auto;
    }

    #layout {
        box-shadow: none;
    }
}
