$FontAwesomePath: '../bower_components/font-awesome/font';
@import 'pure-min.css';
@import '../bower_components/font-awesome/scss/font-awesome';
@import 'variables';
@import 'loader';
@import 'nav';
@import 'speakers';
@import 'date-picker';
@import 'schedule';
@import 'map';
@import 'stream';
@import 'credits';

h1 {
    background: #4c5969;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0.3em;
    font-size: 1em;

    // Not sure we want to use this header
    display: none;
}

#content {
    padding-top: $navBarHeight;
}
