<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zendcon.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ZendCon \'13</name>
    <description>
	All you'll ever need as a ZendCon 2013 attendee. 
    </description>
    <author email="espen@hovlandsdal.com" href="http://rexxars.com">
        Espen Hovlandsdal
    </author>
    <access origin="*" />
    <preference name="webviewbounce" value="true" />
</widget>
