<div id="credits">

    <section class="author">
        <img src="/images/speakers/espen-hovlandsdal.jpg" alt="Espen Hovlandsdal">

        <p>This app was created for the ZendCon App Content 2013 by <a href="http://espen.codes/" class="author-name">Espen Hovlandsdal</a>.</p>
        <p>Hope you like it!</p>
    </section>

    <section class="tech">
        <p>Technologies used:</p>

        <h2 class="php">PHP</h2>
        <ul>
            <li class="header">Backend:</li>
            <li>PHP</li>
            <li>Silex</li>
            <li>Guzzle</li>
            <li>Memcached</li>
        </ul>

        <h2 class="js">JS</h2>
        <ul>
            <li class="header">Javascript:</li>
            <li>RequireJS</li>
            <li>Page.js</li>
            <li>PubSubJS</li>
            <li>Moment.js</li>
            <li>Handlebars</li>
            <li>jQuery</li>
            <li>Magnific Popup</li>
        </ul>

        <h2 class="frontend">&lt;&gt;</h2>
        <ul>
            <li class="header">Frontend:</li>
            <li>SASS + Compass</li>
            <li>Pure (CSS modules)</li>
            <li>Font Awesome</li>
            <li>Cache manifest</li>
            <li>HTML5</li>
        </ul>

        <h2 class="tooling"><i class="icon-wrench"></i></h2>
        <ul>
            <li class="header">Tooling</li>
            <li>Grunt</li>
            <li>Bower</li>
            <li>Sublime Text</li>
        </ul>

        <p class="enjoy">Enjoy ZendCon!</p>
    </section>

</div>

<section class="external">
    <p>
        Tweed pattern made by <a href="http://subtlepatterns.com/tweed/" target="_blank">Simon Leo</a>.
    </p>
    <p>
        This product uses the Instagram API but is not endorsed or certified by Instagram.<br>
        This product uses the Flickr API but is not endorsed or certified by Flickr or Yahoo.
    </p>
</section>
