<div id="map">

    <div class="wrapper">
        <img src="/images/map/level--1.png" data-floor="level--1">
        <img src="/images/map/level-0.png" class="hidden" data-floor="level-0">
        <img src="/images/map/level-3.png" class="hidden" data-floor="level-3">
    </div>

    <div class="zoom">
        <button class="pure-button plus"><i class="icon-plus"></i></button>
    </div>

    <div class="floors">
        <button class="pure-button active" data-floor="level--1">Level -1</button>
        <button class="pure-button" data-floor="level-0">Level 0</button>
        <button class="pure-button" data-floor="level-3">Level 3</button>
    </div>

</div>
