<div id="map">

    <div class="wrapper">
        <img src="/images/map/ground-floor.png" data-floor="ground-floor">
        <img src="/images/map/top-floor.png" class="hidden" data-floor="top-floor">
    </div>

    <div class="zoom">
        <button class="pure-button plus"><i class="icon-plus"></i></button>
    </div>

    <div class="floors">
        <button class="ground-floor pure-button active" data-floor="ground-floor">Ground floor</button>
        <button class="top-floor pure-button" data-floor="top-floor">Top floor</button>
    </div>

</div>
