<nav id="nav" ng-controller="MenuCtrl">
    <ul class="pure-g">
        <li class="pure-u-1-4"><a fast-click href="#/schedule" ng-class="getClass('/schedule')"><i class="icon-calendar"></i> Schedule</a></li>
        <li class="pure-u-1-4"><a fast-click href="#/speakers" ng-class="getClass('/speakers')"><i class="icon-user"></i> Speakers</a></li>
        <li class="pure-u-1-4"><a fast-click href="#/map"      ng-class="getClass('/map')"><i class="icon-map-marker"></i> Map</a></li>
        <li class="pure-u-1-4"><a fast-click href="#/stream"   ng-class="getClass('/stream')"><i class="icon-twitter"></i> Stream</a></li>
    </ul>
</nav>
