<section class="photos">

    <h3 class="source">#zceu on Instagram + Flickr</h3>

    <div class="placeholder">
        <i class="icon-camera-retro"></i>
        Photos<br>
        <span class="msg error"></span>
    </div>

    <section class="bubble-load photo-loader">
        <span></span>
        <span></span>
        <span></span>
    </section>

    <footer>
        This product uses the Instagram API but is not endorsed or certified by Instagram.<br>
        This product uses the Flickr API but is not endorsed or certified by Flickr or Yahoo.
    </footer>

</section>
