<h1>ZendCon 2013 Schedule</h1>

<!-- Date picker -->
<ol class="date-picker pure-g">
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-07" ng-class="{active: '2013-10-07'==selectedDate}">
        <span class="day">Mon</span>
        <span class="date">7</span>
    </a></li>
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-08" ng-class="{active: '2013-10-08'==selectedDate}">
        <span class="day">Tue</span>
        <span class="date">8</span>
    </a></li>
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-09" ng-class="{active: '2013-10-09'==selectedDate}">
        <span class="day">Wed</span>
        <span class="date">9</span>
    </a></li>
    <li class="pure-u-1-4"><a href="#/schedule/2013-10-10" ng-class="{active: '2013-10-10'==selectedDate}">
        <span class="day">Thu</span>
        <span class="date">10</span>
    </a></li>
</ol>

<!-- Day schedule -->
<table class="schedule">
    <thead>
        <tr>
            <th colspan="2"><h3>Tuesday, October 8, 2013</h3></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="session in schedule">
            <th colspan="2" ng-if="session.StartTime == '08:30'">
                {{ $index }}
            </th>

            <td class="date">
                <time datetime="{{ session.StartTime }}">{{ session.StartTime }}</time>
                <time datetime="{{ session.EndTime }}">{{ session.EndTime }}</time>
            </td>
            <td class="article" ng-class="{keynote: session.isKeynote}">
                <img onerror="ZC.nukeImg(this)" ng-src="/images/speakers/{{ session.speakerSlug }}.png" class="speaker">
                <span class="title">{{ session.SessionTitle }}</span>
                <span class="speaker">{{ session.FirstName }} {{ session.LastName }}</span>

                <div class="meta">
                    <span class="location"><i class="icon-map-marker"></i> {{ session.Room }}</span>
                    <span class="markers">
                        <img ng-repeat="tag in session.tags" ng-src="/images/sessions/{{ tag }}.png" />
                    </span>
                </div>
            </td>
        </tr>

    </tbody>
</table>
